body {
    background-color: black;
    color: white;
}

#note {
    background-color: #272621;
    color: white;
}

#info {
    background-color: #272621;
    color: white;
}

/* #fm {
    background-color: #272621;
    color: white;
}

.textarea-wrapper {
    background-color: #272621;
    color: white;
} */